html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html, body {
  margin: 0;
  height: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  margin-bottom: 3em;
  width: 80%;
}

main {
  margin-bottom: 3em;
  width: 80%;
  display: flex;
}

section {
  width: 100%;
  border: solid 1px;
}

.arrays {
  margin-right: 1em;
}

.config {
  margin-left: 1em;
}

footer {
  margin-top: auto;
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}