:root {
  /* From TailwindCSS palette */
  /* https://tailwindcss.com/docs/customizing-colors#color-palette-reference */
  --gray-50: #FAFAFA;
  --gray-200: #E4E4E7;
  --blue-400: #60A5FA;
  --blue-500: #3B82F6;
  --blue-900: #1E3A8A;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html, body {
  margin: 0;
  height: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--blue-500);
  color: var(--gray-50);
}

header {
  background-color: var(--gray-50);
  color: var(--blue-500);
  margin-bottom: 3em;
  width: 100%;
}

.header-content {
  margin: 0 auto;
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.github {
  color: inherit;
  transition: color 0.1s;
}

.github:hover {
  color: var(--blue-400);
  animation-name: wiggle;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
}

@keyframes wiggle {
  0% {transform: rotate(10deg);}
  25% {transform: rotate(-10deg);}
  50% {transform: rotate(20deg);}
  75% {transform: rotate(-5deg);}
  100% {transform: rotate(0deg);}
}

.main-content {
  margin-bottom: 3em;
  width: 80%;
  display: flex;
  flex-direction: row-reverse;
}

.main-content h1,
.main-content h2,
.main-content h3 {
  margin: 0;
}

.arrays {
  margin: 0 0 auto 1em;
  width: 100%;
  padding: 2em;
  border: solid 1px;
  border-radius: 0.25em;
}

.config {
  text-align: center;
  margin: 0 1em auto;
  width: 100%;
}

.arrays :not(:last-child) {
  margin-bottom: 1em;
}

.array-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.array-textarea {
  padding: 0.5em;
  width: 100%;
}

.config :not(:last-child) {
  margin-bottom: 1em;
}

.config-card {
  border: solid 1px;
  border-radius: 0.25em;
  padding: 2em;
}

.algorithm-select {
  font-family: inherit;
  margin-left: 1em;
  padding: 0.5em;
  border: solid 1px var(--blue-500);
  border-radius: 0.12em;
}

.config-card .link {
  color: inherit;
}

.config-card .link:hover {
  color: var(--blue-900);
}

.config-button {
  font-family: inherit;
  padding: 0.5em 1.5em;
  font-size: inherit;
  font-weight: bold;
  background-color: var(--gray-50);
  color: var(--blue-500);
  border: solid 1px var(--blue-500);
  border-radius: 0.12em;
  cursor: pointer;
  transition: all 0.1s;
}

.config-button:hover {
  background-color: var(--gray-200);
}

footer {
  margin-top: auto;
  width: 80%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}